@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* html {
    font-family: Proxima Nova, system-ui, sans-serif;
  } */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
